/InterfazPedidos/nbproject/private/
/InterfazPedidos/build/
/Ruta/nbproject/private/
/Ruta/build/
/mainapp/nbproject/private/
/mainapp/build/
mainapp/nbproject/genfiles.properties
mainapp/nbproject/build-impl.xml
*.xml
*.xml
mainapp/nbproject/genfiles.properties
mainapp/nbproject/project.properties
*.properties
